*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    :root {
        --bg-color: #080808;       
        --second-bg-color: #101010; 
        --text-color: white;       
        --main-color: #ea580c;     
      }
      
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: #080808;
    color: white;

}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: #ea580c;
    display: none;
}
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);

}
span{
    background: linear-gradient(270deg,
    #DF8908 10%,
    #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem; 
     color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: solid transparent;
}
.navbar a:hover{
    color: #ea580c;
    border-bottom: 3px solid #ea580c
}
.gradent-btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;               /* Button text color */
    border: none;
    white-space: nowrap;         /* Prevent text from wrapping */
    text-align: center;
}

.gradent-btn a {
    color: inherit;             /* Inherit the color from the button */
    text-decoration: none;      /* Remove underline from the link */
    display: inline-block;
    width: 100%;
    height: 100%;
}

.gradent-btn:hover{
transform: scale(1.05);
}


section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
   margin: 1rem 0;
   font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-image img{ 
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
}
.home-image img:hover{
    box-shadow: 0 0 25px #ea580c,
                0 0 50px #ea580c,
                0 0 100px #ea580c;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #ea580c;
    border-radius: 50%;
    color: #ea580c;
    margin: 3rem 0.8rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px #ea580c;
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #ea580c;
    box-shadow: 0 0 25x #ea580c;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #ea580c;  
}
.btn-group a:nth-of-type(2){
    background-color: rgb(0, 0, 0);
    color: #ea580c;
    border: 2px solid  ;
    border: 2xp solid #ea580c;
    box-shadow: 0 0 25xp  #ea580c transparent;
}
.btn-group a:nth-last-of-type(2):hover{
   box-shadow: 0 0 25xp #ea580c;
   background-color: #ea580c;
   color: black;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10rem;
    background:var(--second-bg-color);
}
.about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px #ea580c,
                0 0 50px #ea580c,
                0 0 100px #ea580c;
}


.about-content h2{
font-size: 7rem;
}
.about-content p{
    font-size: 1.8rem;
    }

.about-content .btn{
    margin: 3rem 0;
    border: none;
}
::-webkit-scrollbar{
    width: 15px;
}


::-webkit-scrollbar-thumb{
    background-color: #ea580c;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
.heading{
    background-color: #080808;
    font-size: 7rem;
    margin: 5rem 0;
}
.services{
    background-color: #080808;
    color: black
}
.services h2{
    text-align: center;
color: white;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea580c;
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.3s ease-in-out;
}
.service-box:hover{
    background: #101010;
    color: #ea580c;
    border: 5px solid #ea580c;
    transform: scale(1.03);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.service-info p{
    font-size: 1.8rem;
    font-weight: 600px;
    line-height: 1.7;
}
.service-info i{
    font-size: 8rem;
}


/* Projects Section style here */
.heading{
    text-align: center;
}

.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #080808;
    border-color: 2px solid #ea580c;
    border-radius: 3rem;
    gap: 3rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px #ea580c;
    transition: 0.3s ease-in-out;
}
.project-card:hover{
    box-shadow: 0 0 45px #ea580c;
}

.project-card img{
    max-width: 300px;
    border-radius: 1.8rem;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
}

/* contact details and other info Start from here  */

.contact{
    background-color: #080808;
}
.contact h2{
    margin-bottom: 3rem;
    color: #ea580c;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: white;
    background-color: #080808;
    border-radius: 2rem;
    border: 2px solid #ea580c;
    margin: 1.5rem 0;
    resize: none;
}
.btn{
    border: none;
}

/* Footer desine start here  */

.footer{
    background-color: #101010;
    padding: 50px 0;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 2%;
}
.footer ul li a{
    color: white;
    border-bottom: 3px transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid #ea580c;
}
.footer .copyright{
    text-align: center;
    margin-top: 3rem;
    font-size: 16px;
}


/* Responsive Work start here */

@media(max-width: 600px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 95%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #ea580c;
        border-bottom: 2px solid #ea580c;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar.active{
        display: block;
    }
    .gradent-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 3rem;
    }
    .home-content{
       align-items: center;
        text-align: center;
    }
    .home-content h1{
        font-size: 50px;
    }
    .home-content h3{
        font-size: 29px;
        display: flex;
        gap: 1.5rem;
    }
    .social-icons{
        display: 
    }
    .home-content p{
        font-size: 18px;
    }



    .home-image img{
       width: 55vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
        display: contents;
       
        
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 52vw;
    }
    .contact form{
        flex-direction: column;
    } 
    .logo{
       text-align: left;
    }
    .about{
   padding: 10px;
   
    }
    .home{
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0%;
    }
    .header{
        padding-bottom: 0;
    }
    .about-content h2{
        font-size: 40px;
        gap: 1.5rem;
        text-align: center;
    }
    .about-content{
        padding-top: 0px
    }
    .about-content p{
        padding: 10px;
    }
    .about-img{
        margin: 0rem;
    }
.header{
    padding: 2rem;
}
.services{
  
}




    .service-box{
        height: 350px;
        width: 300px;
    }
    .service-info h4{
        font-size: 20px;
        
    }
    .services-container{
        align-content: center;
    
    }
    .heading{
        font-size: 6rem;
        margin-top: 0;
        
    }
     .btn{
        text-align: center;

     }
/* Example for removing bottom margin or padding */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.projects{
    display: contents;
}
.projects-box{
    margin: 30px;
}
.social-icons{
   
}
.heading{
    font-size: 50px;
   
}




    
}
